@charset "UTF-8";

:root {
    --cor0: #262417;
    --cor1: #8C6E37;
    --cor2: #D9AE5F;
    --cor3: #8C634A;
    --cor4: #592C1C;
}

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'hamburguer';
    src: url('./fontes/hamburguer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow-x: border-box;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.192);
    max-width: 1220px;
    margin: 0 auto;
    font-family: "Inter Tight", sans-serif;
}

header {
   background-image: url("imagens/pngtree-vibrant-yellow-watercolor-design-for-web-banner-and-texture-backgrounds-vector-png-image_36576300.jpg");
   background-repeat: no-repeat;
   background-size: 1222px;
   width: 100%;
   max-width: 1220px;
   height: 180px;
   margin: auto;

}

header p{
    margin-left: 50px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
}

picture img{
    max-width: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.decorado{
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-transform: lowercase;
    
}

.decorado::before,
.decorado::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: black;
}

.decorado::before{
    left: -40px;
}

.decorado::after{
    right: -40px;
}

.titulo.box{
    font-family: 'hamburguer', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1220px;
}

#principal{
    font-family: 'hamburguer', sans-serif;
    padding-left: 10px;
    padding-top: 20px;
    color: var(--cor4);
    max-width: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.subtitulos{
    font-family: "Inter Tight", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding-left: 40px;
    max-width: 100%;
}

.cor-diferente{
    color: var(--cor4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

.titulo{
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
}

main{
   background-color: #fff;
   max-width: 1220px;
   height: 100vh;
   display: block;
   margin: 0 auto;
}

nav{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: -10px;
   background-color: var(--cor2);
   height: 50px;
   max-width: 500px;
   margin: auto;
   margin-top: 10px;
   border-radius: 40px;
   box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.192);
}

a.opcoes{
    display: flex;
    color: var(--cor0);
    text-decoration: none;
    padding: 5px;
    border-radius: 40px;
    margin-top: 20px;
    transition-duration: .5s;
    justify-content: center;
    margin: 0 auto;
}

a.opcoes:hover{
   background-color: var(--cor1);
}

.nav{
    background-color: #fff; 
}

.hamburguer{
    display: block;
    margin-left: 0;
    max-width: 300px;
}

.menu{
   display: flex;
   align-items: flex-start;
   gap: 15px;
   margin-top: 20px;
}

.menu p{
   text-indent: 20px;
   font-size: 1.1em;
   margin-right: 20px;
   margin-top: 20px;
   line-height: 1.8em;
   text-align: justify;
}

.apresentação{
    color: var(--cor0);
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.192);
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin: 10px;
}

.texto h2{
    color: var(--cor2);
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 40px;
}

.cardápio{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--cor3);
    margin-top: 20px;
    height: auto;
}

.x-tudo {
    margin: auto;
    background-color: #fff;
    max-width: 225px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 135px;
    align-items: flex-start;
    box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.192); 
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    flex-basis: 100%;
    width: 100%;
}
.valor, .burguer-tudo{
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.x-tudo, .burguer-tudo{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 20px;
}

.x-tudo h3{
    text-align: center;
}







