@charset "UTF-8";

:root {
    --cor0: #262417;
    --cor1: #8C6E37;
    --cor2: #D9AE5F;
    --cor3: #8C634A;
    --cor4: #592C1C;
}

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'hamburguer';
    src: url('./fontes/hamburguer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow-x: border-box;
}

header {
   background-image: url("imagens/pngtree-vibrant-yellow-watercolor-design-for-web-banner-and-texture-backgrounds-vector-png-image_36576300.jpg");
   background-repeat: no-repeat;
   background-size: 1222px;
   width: 100%;
   max-width: 1220px;
   height: 200px;
   margin: auto;
   box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.192);
}

header p{
    margin-left: 50px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
}

picture img{
    max-width: 30px;
}

.decorado{
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-transform: lowercase;
}

.decorado::before,
.decorado::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: black;
}

.decorado::before{
    left: -40px;
}

.decorado::after{
    right: -40px;
}

.titulo.box{
    font-family: 'hamburguer', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1220px;
}

#principal{
    font-family: 'hamburguer', sans-serif;
    padding-left: 10px;
    padding-top: 20px;
    color: var(--cor4);
    max-width: 100%;
    text-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.418);
}

.subtitulos{
    font-family: "Inter Tight", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 40px;
    max-width: 100%;
}

.cor-diferente{
    color: var(--cor4);
}

main{
   background-color: #fff;
   max-width: 1220px;
   height: 100vh;
   margin: auto;
   box-shadow: 2px 1px 10px 2px rgba(0, 0, 0, 0.192);
}